menuconfig COZY
    bool "Cozy Support"
    select MCUMGR 
    select TINYCBOR
    select MBEDTLS
    help
        This option enables the Cozy COSE library.

if COZY

config COZY_SIGN
    bool "Compile COSE sign sources"
    default y

config COZY_ENCRYPT
    bool "Compile COSE encrypt sources"
    default y

config COZY_MAC
    bool "Compile COSE MAC sources"
    default y     

endif
